body {
    font-family: 'Archivo', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.nav-bar li a {
    text-decoration: none;
    color: #A7ADB7;
}

.nav-bar li a:hover {
    color: #636AE8;
}

.apply-btn {
    color: #fff;
    background-color: #636AE8;
    text-decoration: none;
    padding: 5px 40px;
    font-size: 14px;
    border-radius: 8px;
    height: 34px;
    margin: auto;
    margin-right: 5px;
}

.apply-btn:hover {
    background-color: #1520eb;
}

.applyNowBtn {
    cursor: pointer;
}

.bg-img {
    height: 460px;
    background: rgb(8, 11, 149);
    background: linear-gradient(90deg, rgba(8, 11, 149, 1) 0%, rgba(82, 180, 223, 1) 62%, rgba(169, 194, 230, 1) 90%);
}

.apply-btn-hero {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.apply-btn-hero-container {
    background-color: #2832e6;
    width: auto;
    border-radius: 8px;
    padding: 10px 25px;
    justify-content: center;
    text-align: center;
}

.apply-btn-hero-container:hover {
    background-color: #0810a0;
}

.courses-container {
    background-color: #171A1F;
    border-radius: 6px;
}

.courses-img {
    border-radius: 6px;
    margin-bottom: 13px;
}

.courses-container p {
    color: #9095A0;
    font-size: 14px;
}

.subscribe-input {
    width: auto;
    border: 2px solid #fff;
    border-radius: 3px 0px 0px 3px;
    padding-left: 4px;
}

.subscribe-btn {
    width: auto;
    color: #fff;
    background-color: #636AE8;
    border: 2px solid #636AE8;
    border-radius: 0px 3px 3px 0px;
}

.subscribe-btn:hover {
    background-color: #242ee0;
    border: 2px solid #242ee0;
}

.copyright {
    font-size: 12px;
    color: #F3F4F6;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 5px 25px;
    border-radius: 5px;
    width: 500px;
}

#applicationForm label {
    font-size: 16px;
}

#applicationForm input {
    width: 450px;
    margin-left: 10px;
    margin-bottom: 15px;
    border: 0.5px solid rgb(71, 71, 71);
    border-radius: 3px;
    height: 40px;
}

#applicationForm textarea {
    width: 450px;
    margin-left: 10px;
    margin-bottom: 13px;
    border: 1px solid black;
    border-radius: 3px;
    height: 90px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: 2px;
    padding-left: 0px;
    margin-left: 0px;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.register-btn {
    color: #fff;
    background-color: #636AE8;
}

.register-btn:hover {
    background-color: #2731e7;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (min-width: 424px) {
    .apply-btn-container {
        margin-bottom: 4.5px;
    }

    .title {
        padding-left: 35px;
    }

    .courses-container {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 767px) {
    .title {
        padding-left: 0px;
    }
    .apply-btn-container {
        margin-bottom: 4px;
    }

    .courses-img-2 {
        height: 103px;
    }
}

@media screen and (min-width: 1000px) {
    .courses-img-2 {
        height: 181px;
    }
}

@media screen and (min-width: 1023px) {
    .courses-img-2 {
        height: 150px;
    }
}
@media screen and (min-width: 1439px) {
    .courses-img-2 {
        height: 216px;
    }
}